*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: #4B0082;
    color: orange;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.cabeçalho-imagem{
    width: 12%;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 18px;
}